# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Azure Functions
MyFunctionApp/.python_packages/
MyFunctionApp/local.settings.json